Advanced Vapi Voice Agent (RAG + Booking).json
{
  "name": "Advanced Vapi Voice Agent (RAG + Booking)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-handler",
        "options": {}
      },
      "id": "a0a7bbc1-3e22-412f-8f14-c711f022db53",
      "name": "Vapi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -736,
        192
      ],
      "webhookId": "716f24c9-e7e4-4265-b948-432aadd2d33b"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.message.type }}",
        "rules": {
          "rules": [
            {
              "value2": "tool-calls"
            },
            {
              "value2": "transcript",
              "output": 1
            }
          ]
        }
      },
      "id": "197c8ae5-ed56-4509-a6df-3a40e9ad7da5",
      "name": "Route: Tool vs Transcript",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -512,
        192
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.message.toolCalls[0].function.name }}",
        "rules": {
          "rules": [
            {
              "value2": "check_availability"
            },
            {
              "value2": "book_appointment",
              "output": 1
            },
            {
              "value2": "ask_knowledge_base",
              "output": 2
            }
          ]
        }
      },
      "id": "338c0019-3222-489c-a400-a6cd99499e80",
      "name": "Route Tool Function",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -304,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Vapi Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"I have found these available slots: {{ $json.start.dateTime }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "e6321583-896e-4afb-8cc0-c6d887e486a6",
      "name": "Respond to Vapi (Slots)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        -16
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{ $json.body.message.toolCalls[0].function.arguments.startTime }}",
        "end": "={{ $json.body.message.toolCalls[0].function.arguments.endTime }}",
        "additionalFields": {}
      },
      "id": "e1b7a107-0800-4d41-a23a-fd1ed7b05250",
      "name": "Book Slot",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -16,
        144
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "109t5SIoRS8a9Wnp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Vapi Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"Success. The appointment is confirmed.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a731075e-cb8e-4497-954f-57ab5d35d49f",
      "name": "Respond to Vapi (Confirmed)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Vapi Webhook').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"Here is the information from our policy: {{ $json.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "69293a86-0d13-463a-b03f-7c8e59a77523",
      "name": "Respond to Vapi (Answer)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "options": {
          "singleEvents": true
        }
      },
      "id": "eccdfd2d-8dbd-494f-81ae-cc1de9c142f3",
      "name": "Search Slots",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -16,
        -16
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "109t5SIoRS8a9Wnp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FetmHgur3ioVhXSo",
          "mode": "list",
          "cachedResultUrl": "/workflow/FetmHgur3ioVhXSo",
          "cachedResultName": "RAG Knowledge Base (n8n + Pinecone)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        304
      ],
      "id": "df211164-4276-4ced-95d8-72220cab362f",
      "name": "Call 'RAG Knowledge Base (n8n + Pinecone)'"
    }
  ],
  "pinData": {},
  "connections": {
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Route: Tool vs Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Tool vs Transcript": {
      "main": [
        [
          {
            "node": "Route Tool Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Tool Function": {
      "main": [
        [
          {
            "node": "Search Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Book Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'RAG Knowledge Base (n8n + Pinecone)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Slot": {
      "main": [
        [
          {
            "node": "Respond to Vapi (Confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Slots": {
      "main": [
        [
          {
            "node": "Respond to Vapi (Slots)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'RAG Knowledge Base (n8n + Pinecone)'": {
      "main": [
        [
          {
            "node": "Respond to Vapi (Answer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eac9e48f-4080-488a-8c53-7367dcaadcb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6ef445266b13d8f6fb46bf80cd5a72e60817b1ce9142d6807d2d2e8b6843fe5"
  },
  "id": "2rEPQOLhN2cGa5DR",
  "tags": []
}