Automated Financial Document Processing (AI + OCR).json
{
  "name": "Automated Financial Document Processing (AI + OCR)",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.content.parts[0].text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Client's Name",
              "description": "The name of the client",
              "required": true
            },
            {
              "name": "Client's Phone",
              "description": "The phone of the client",
              "required": true
            },
            {
              "name": "Client's Address",
              "description": "The address of the client",
              "required": true
            },
            {
              "name": "Invoice#",
              "description": "Invoice Number",
              "required": true
            },
            {
              "name": "Date Created",
              "type": "date",
              "description": "The date on which the invoice is created",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "The due date of the invoice",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "Total Amount Paid",
              "required": true
            },
            {
              "name": "Status",
              "type": "boolean",
              "description": "Status of the payment, whether it's paid or unpaid",
              "required": true
            },
            {
              "name": "Qty Of Products",
              "type": "number",
              "description": "No. of the products purchased",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2960,
        32
      ],
      "id": "97691ae2-e30d-422a-ad6a-0edd69c7fb8f",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3040,
        256
      ],
      "id": "d884c7a9-5852-40fa-ac8d-f7568efc2773",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xoiPndJ5nWRoo1JX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json['Invoice#'] }}\n{{ $json['Client\\'s Name'] }}\n{{ $json['Client\\'s Phone'] }}\n{{ $json['Client\\'s Address'] }}\n{{ $json['Qty Of Products'] }}\n{{ $json['Total Amount'] }}\n{{ $json.Status }} (true means Paid, false means Unpaid)\n{{ $json['Date Created'] }}\n{{ $json['Due Date'] }}"
            }
          ]
        },
        "options": {
          "systemMessage": "You're a support bot for our billing team named \"Billify\".\n\nYour role is to craft an email to notify the billing department that an invoice has been paid, put all the relevant data from the invoice in the email, also share the Google Sheet's Link with them and notify them that the Invoice DataBase within the Google Sheet has also been updated, and they can review it.\n\nHere's the link to the Google's Sheet including the Invoice DataBase: https://docs.google.com/spreadsheets/d/1FJFfSF5IDv3xW0Wg_wzKOn3bgGZwwkb7h1Q2QqeR95s/edit?gid=0#gid=0\n\nCraft only the Body of the email! \n\nCraft a professional email response like the most of the other successful businesses do to notify their billing departments, of an upcoming new invoice!\n\nGive the output in html format!\n\nAlso use text formatting in the body like bold, italic, etc. (wherever needed)!\n\nDon't mention in the body that it's html!\n\nReturn ONLY the raw HTML code without any markdown formatting, code blocks, or backticks. Do not wrap the output in ```html or ``` tags. Output pure HTML only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3536,
        32
      ],
      "id": "2018a868-177f-4855-ac37-b85a314c0e2f",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "xoiPndJ5nWRoo1JX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are an expert extraction algorithm.\nExtract all the relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nGive me each info in a separate parameter!",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2736,
        32
      ],
      "id": "83d417e8-5a47-43e8-b890-aae3c1245af5",
      "name": "Analyze Doc & Extract Text",
      "credentials": {
        "googlePalmApi": {
          "id": "xoiPndJ5nWRoo1JX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GXFUrVwR472XfL55rDjA0oQfsPLO5qh6",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GXFUrVwR472XfL55rDjA0oQfsPLO5qh6"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        2288,
        32
      ],
      "id": "c42d9947-17c2-469d-8467-cffeaa6ea42b",
      "name": "Fetch File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oME0CH9qBoR3IHIb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        32
      ],
      "id": "7d4632a7-d14b-4dd6-b8d0-666533cb4b1f",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oME0CH9qBoR3IHIb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FJFfSF5IDv3xW0Wg_wzKOn3bgGZwwkb7h1Q2QqeR95s",
          "mode": "list",
          "cachedResultName": "Invoice DataBase",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FJFfSF5IDv3xW0Wg_wzKOn3bgGZwwkb7h1Q2QqeR95s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FJFfSF5IDv3xW0Wg_wzKOn3bgGZwwkb7h1Q2QqeR95s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client's Name": "={{ $json.output['Client\\'s Name'] }}",
            "Invoice#": "={{ $json.output['Invoice#'] }}",
            "Client's Phone": "={{ $json.output['Client\\'s Phone'] }}",
            "Client's Address": "={{ $json.output['Client\\'s Address'] }}",
            "Qty Of Products": "={{ $json.output['Qty Of Products'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Status": "={{ $json.output.Status }}",
            "Date Created": "={{ $json.output['Date Created'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [
            "Invoice#"
          ],
          "schema": [
            {
              "id": "Invoice#",
              "displayName": "Invoice#",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client's Name",
              "displayName": "Client's Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client's Phone",
              "displayName": "Client's Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client's Address",
              "displayName": "Client's Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qty Of Products",
              "displayName": "Qty Of Products",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3312,
        32
      ],
      "id": "10654ae8-e3b1-4f58-a4aa-dc8188bf9a53",
      "name": "Append/Update Invoice DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eCo8jpEvqk3KJn49",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sahil.shehzad07@gmail.com",
        "subject": "=INVOICE PAID: {{ $('Append/Update Invoice DB').item.json['Client\\'s Name'] }} - {{ $('Append/Update Invoice DB').item.json['Invoice#'] }} (Total: {{ $('Append/Update Invoice DB').item.json['Total Amount'] }})",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3888,
        32
      ],
      "id": "630a9d5c-c216-468d-b352-277d8d184372",
      "name": "Send a message",
      "webhookId": "225ffc5d-28a1-4cae-9a48-44fd79f2f819",
      "credentials": {
        "gmailOAuth2": {
          "id": "0Yn7GnkV904IJ9aF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append/Update Invoice DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Doc & Extract Text": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Analyze Doc & Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append/Update Invoice DB": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70a4c452-4e96-4af1-be73-ef932c2dfe7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10dc3b4bce401c066f1c2270cecf1e1ab02c5f7086c8a9e2c6e4a03a4af795f1"
  },
  "id": "CNTLbrYfVZ2hw1Z3",
  "tags": []
}