Full-Stack ATS Resume Optimizer (n8n + Lovable).json
{
  "name": "Full-Stack ATS Resume Optimizer (n8n + Lovable)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimize-resume",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -13664,
        736
      ],
      "id": "d99150a6-d2f7-480c-9291-9eec1ab90086",
      "name": "Webhook",
      "webhookId": "f41a9286-470c-4f59-aea1-a52bd3651d6b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume Text:\n{{ $json.candidates[0].content.parts[0].text }}\n\nJob Description:\n{{ $('Webhook').first().json.body.job_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Technical Recruiter and ATS (Applicant Tracking System) specialist.\nYour task is to analyze a candidate's RESUME against a specific JOB DESCRIPTION.\n\nYou must analyze three specific areas:\n1. ATS Score: Give a strict score from 0-100 based on keyword matching and relevance.\n2. Missing Keywords: Identify the top 5 hard skills found in the Job Description that are missing from the Resume.\n3. Bullet Point Improvements: Rewrite 3 specific bullet points from the resume to be more result-oriented and impactful. For each, provide the exact original text and then write an improved, using the \"Action Verb + Task + Result\" formula."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -12864,
        736
      ],
      "id": "1fc273b8-118f-4d2c-b546-230814fc3cb2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -12784,
        960
      ],
      "id": "daa769f4-d367-4e20-9b72-67bd0f39ebeb",
      "name": "2.5-pro",
      "credentials": {
        "googlePalmApi": {
          "id": "xoiPndJ5nWRoo1JX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"ats_score\": {\n      \"type\": \"number\",\n      \"description\": \"A score from 0 to 100 representing the match quality.\"\n    },\n    \"summary_feedback\": {\n      \"type\": \"string\",\n      \"description\": \"A 2-sentence summary of the resume's quality.\"\n    },\n    \"missing_keywords\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"List of top 5 missing skills or keywords.\"\n    },\n    \"suggested_improvements\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"original_point\": {\n            \"type\": \"string\",\n            \"description\": \"The exact, original bullet point extracted from the resume.\"\n          },\n          \"improved_point\": {\n            \"type\": \"string\",\n            \"description\": \"The rewritten, action-oriented version of that specific point.\"\n          }\n        },\n        \"required\": [\n          \"original_point\",\n          \"improved_point\"\n        ]\n      },\n      \"description\": \"List of 3 specific bullet point improvements showing before and after.\"\n    }\n  },\n  \"required\": [\n    \"ats_score\",\n    \"summary_feedback\",\n    \"missing_keywords\",\n    \"suggested_improvements\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -12640,
        928
      ],
      "id": "44b26ed3-02c0-4f99-bd33-705566a3aa14",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -12512,
        736
      ],
      "id": "59af35aa-723e-48e0-a840-755923c4441d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract all text content from this document. Return ONLY the plain text.",
        "inputType": "binary",
        "binaryPropertyName": "file",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -13152,
        656
      ],
      "id": "af1166c3-4b72-4727-9d39-b386d1bc5541",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "xoiPndJ5nWRoo1JX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $binary.file.mimeType }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cd8d07d4-a1e0-4c1a-aa75-de575d3f1f74",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -13440,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/docx/to/pdf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Secret",
              "value": "jDmz1SeIneU86BnfW6rDDWy4hCy51VD7"
            },
            {
              "name": "StoreFile",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -13248,
        832
      ],
      "id": "c719b3cb-f125-461b-9c08-a3f4c5f1095d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract all text content from this document. Return ONLY the plain text.",
        "documentUrls": "={{ $json.Files[0].Url }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -13056,
        832
      ],
      "id": "12f9b578-173b-47c8-af31-c162b4c1d4b6",
      "name": "Analyze document1",
      "credentials": {
        "googlePalmApi": {
          "id": "xoiPndJ5nWRoo1JX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "2.5-pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24c6d4fd-416f-4725-9da1-74fceeea1856",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10dc3b4bce401c066f1c2270cecf1e1ab02c5f7086c8a9e2c6e4a03a4af795f1"
  },
  "id": "ajvVCrXidRazLRts",
  "tags": []
}