Full-Stack ATS Resume Optimizer (n8n + Lovable).json
{
  "name": "Full-Stack ATS Resume Optimizer (n8n + Lovable)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimize-resume",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -976,
        16
      ],
      "id": "b3b55e2a-1e4c-4dcd-b2ea-1d00aef1b71b",
      "name": "Webhook",
      "webhookId": "f41a9286-470c-4f59-aea1-a52bd3651d6b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume Text:\n{{ $json.candidates[0].content.parts[0].text }}\n\nJob Description:\n{{ $('Webhook').first().json.body.job_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Technical Recruiter and ATS (Applicant Tracking System) specialist.\nYour task is to analyze a candidate's RESUME against a specific JOB DESCRIPTION.\n\nYou must analyze three specific areas:\n1. ATS Score: Give a strict score from 0-100 based on keyword matching and relevance.\n2. Missing Keywords: Identify the top 5 hard skills found in the Job Description that are missing from the Resume.\n3. Bullet Point Improvements: Rewrite 3 specific bullet points from the resume to be more result-oriented and impactful. For each, provide the exact original text and then write an improved, using the \"Action Verb + Task + Result\" formula."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        16
      ],
      "id": "bff93fb0-a884-4c6f-b8d7-74f0b107b43c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        240
      ],
      "id": "0e32d307-a4bb-4dce-9ce6-4f8bd9aeeb51",
      "name": "2.5-pro"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"ats_score\": {\n      \"type\": \"number\",\n      \"description\": \"A score from 0 to 100 representing the match quality.\"\n    },\n    \"summary_feedback\": {\n      \"type\": \"string\",\n      \"description\": \"A 2-sentence summary of the resume's quality.\"\n    },\n    \"missing_keywords\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"List of top 5 missing skills or keywords.\"\n    },\n    \"suggested_improvements\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"original_point\": {\n            \"type\": \"string\",\n            \"description\": \"The exact, original bullet point extracted from the resume.\"\n          },\n          \"improved_point\": {\n            \"type\": \"string\",\n            \"description\": \"The rewritten, action-oriented version of that specific point.\"\n          }\n        },\n        \"required\": [\n          \"original_point\",\n          \"improved_point\"\n        ]\n      },\n      \"description\": \"List of 3 specific bullet point improvements showing before and after.\"\n    }\n  },\n  \"required\": [\n    \"ats_score\",\n    \"summary_feedback\",\n    \"missing_keywords\",\n    \"suggested_improvements\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        208
      ],
      "id": "36633426-b43d-4822-a686-e13d5692141d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        176,
        16
      ],
      "id": "cfd78c58-770f-4603-b792-e751f6a6ccae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract all text content from this document. Return ONLY the plain text.",
        "inputType": "binary",
        "binaryPropertyName": "file",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        -80
      ],
      "id": "b90816da-2679-4e07-b984-5e8e457805b8",
      "name": "Analyze document"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $binary.file.mimeType }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "777ec04d-f959-427f-ba5c-6fff73e4bf71",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -752,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/docx/to/pdf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Secret",
              "value": "\"YOUR_API_KEY_HERE\""
            },
            {
              "name": "StoreFile",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        112
      ],
      "id": "0f504ba2-fb0b-422f-a19a-4477606d6b3e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract all text content from this document. Return ONLY the plain text.",
        "documentUrls": "={{ $json.Files[0].Url }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        112
      ],
      "id": "ffe59a58-b281-4326-9d41-0b8cb18106fe",
      "name": "Analyze document1"
    }
  ],
  "pinData": {},
  "connections": {
    "2.5-pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3c56d7a-0ba3-4235-a56f-beb4bf4f843e",
  "meta": {
    "instanceId": "c6ef445266b13d8f6fb46bf80cd5a72e60817b1ce9142d6807d2d2e8b6843fe5"
  },
  "id": "M2LDcv8yZQ9hs9jY",
  "tags": []
}